
<section>
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
  <h1 class="page-header">Drop some dimes</h1>

  <p>We're ready to take payment and get your Wundereel</p>


  <%= form_tag create_payment_jobs_create_path(@job), id: 'checkoutForm' do %>
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="Wundereel"
    data-description="1 Fancy Wundereel"
    data-amount="10000">
  </script>
  <% end %>
</section>
