<section>
  <div class="col-lg-12">
    <div class="hero">
      <%= image_tag 'wundereel_logo.png' %>
      <h3>Highlight your life</h3>
    </div>
    <div class="text-center">
      <h4>Thanks! We'll be in touch</h4>
    </div>
</section>
