<section>
  <div class="col-lg-12">
    <div class="hero">
      <%= image_tag 'wundereel_logo.png' %>
      <h3>Highlight your life</h3>

    </div>
    <div class="text-center">
      <%= link_to new_jobs_create_path, { class: "btn btn-primary btn-lg"} do %>
        <%= image_tag "dropbox-logos_dropbox-glyph-white.png", { style: "height: 1em; width: 1em; display: inline;"} %>
        Sign in with Dropbox
      <% end %>
    </div>
  </div>
</section>
