
<div class="col-xs-12 col-lg-offset-1 col-lg-10" style="text-align: center">
  <h2 class="page-header" id="in-action" style="text-align: center;">Pick your package</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="text-center">Editing Only</h3></div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item"> 3 minute video of highlights from your special day</li>
          <li class="list-group-item"> Your own cameras</li>
          <li class="list-group-item"> Your music, your style</li>
        </ul>
        <div class="panel-footer">
          <a class="btn btn-lg btn-block btn-primary package-select" data-package="Editing Only - $149" href="#">Buy for $149</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="text-center">Shoot it Yourself</h3></div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item"> All of the editing, plus.. </li>
          <li class="list-group-item"> 4 GoPros with 4 unique mounts including
            <ul class="list text-left">
              <li>wine bottle mount</li>
              <li>floating handle</li>
              <li>selfie stick</li>
            </ul>
          </li>
          <li class="list-group-item"> Tip sheets and chargers so your guests are fully prepared!</li>
        </ul>
        <div class="panel-footer">
          <a class="btn btn-lg btn-block btn-primary package-select" data-package="Shoot It Yourself - $499" href="#">Purchase for $499</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="text-center">Capture it All</h3></div>
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item"> All of the shoot it yourself, plus...</li>
            <li class="list-group-item"> Wundereel videographer for 4 hours with a cinema quality camera</li>
            <li class="list-group-item"> Key moments in stunning quality </li>
            <li class="list-group-item"> 1 minute cinematic trailer </li>
            <li class="list-group-item"> 20 minute extended cut </li>
          </ul>
        <div class="panel-footer">
          <a class="btn btn-lg btn-block btn-primary package-select" data-package="Capture It All - $999" href="#">Purchase for $999</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    Want something a little different? We're happy to work out the perfect package so you get everything you want for the best price.
    <a href="#" class="btn btn-primary package-select" data-package="Custom">Get in touch</a>
  </div>

</div>


<script>
$(
  function() {
    $('.btn.package-select').on('click',
      function() {
        $('#interested_person_package')
        .val($(this).data('package'));

        $('html, body').animate({
          scrollTop: $('#collect-information').offset().top
        }, 300);

        return false;
      }
    )
  }
);
</script>
