<section>
  <div class="col-lg-12">
    <div class="hero">
      <%= image_tag 'wundereel_logo.png' %>
      <h3>highlight your life</h3>

    </div>
    <div class="text-center">
      <p>We'll send your Wundereel within 48 hours.</p>
      <p>Questions? <a href="mailto:support@wundereel.com">support@wundereel.com</a></p>
    </div>
  </div>
</section>
