<%= render layout: 'layouts/base'  do %>
  <header>
    <%= render 'layouts/navigation' %>
    <img src="https://nest.macrotower.com/i/mt00b345ba.gif" />
	<script type="text/javascript" id="mt-loader" data-key="mt00b345ba" async defer src="https://eagle.macrotower.com/mt.js"></script>
  </header>
  <main role="main">
     <%= render 'layouts/messages' %>
     <%= yield %>
  </main>
<% end %>


